<div class="task-list">
    
         <!--  <div *ngFor="let task of tasks">
            <div class="col-md-7">
                {{task.vehicleid}} {{tasks.latitude}} {{tasks.longitude}}
                {{tasks.readings}}
            </div>
            <br>
            <br>
        </div> 
     -->

     
     <div class="row">
         <h4>Vehicleid Dusterx2016</h4>
         
         <div class="row">
                <h3>Readings</h3>
                <h5>DISTANCE_TRAVELED_MIL_ON":"NODATA"</h5>    
                <h5>"SPEED":"192km/h"</h5>
                <h5>"ENGINE_LOAD":"NODATA"</h5>
                <h5>"TROUBLE_CODES":</h5>
                <a href="https://repairpal.com/obd-ii-code-P0103">P0103</a>
                <a href="https://repairpal.com/obd-ii-code-p0112">P0112</a>
                <h5>"DTC_NUMBER":"MIL is ON3 codes"</h5>
                <h5>"ENGINE_COOLANT TEMP":"91C"</h5>
                <h5>latitude":0</h5>
                <h5>,"longitude": 0</h5>
                <h5>"timestamp":1510021846548</h5>
         </div>
         
         
         <div class="row">
         <h3>Driving score</h3> 
         <h4>No data</h4>
         </div>
         
         
     </div>
     
</div>